<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.woo.s1.bankBook.BankBookDAO">
  	<sql id="searchCondition">
  		
  		<if test="kind == 'contents'">
  			WHERE BOOKDETAIL LIKE '%' || #{search} || '%'
  		</if>
  		
  		<if test="kind == 'title'">
  			WHERE BOOKNAME LIKE '%' || #{search} || '%'
  		</if>  	
  	
  	</sql>
  	
  	<sql id="searchCondition2">
  		WHERE  
			<choose>
				<when test="kind == 'contents'">
					BOOKDETAIL
				</when>
				<otherwise>
					BOOKNAME
				</otherwise>
			</choose>
		LIKE '%' || #{search} || '%'
  	
  	</sql>
  	
  	<select id="getBankBookCount" parameterType="Pager" resultType="Long">
  		SELECT COUNT(BOOKNUMBER) FROM BANKBOOK
  		<include refid="searchCondition"></include>
  		<!-- <if test="kind == 'contents'">
  			WHERE BOOKDETAIL LIKE '%' || #{search} || '%'
  		</if>
  		
  		<if test="kind == 'title'">
  			WHERE BOOKNAME LIKE '%' || #{search} || '%'
  		</if> -->
  		
  	</select>
  	
  	<select id="getBankBookList" parameterType="Pager" resultType="BankBookDTO">
  		SELECT * FROM 
			(
				SELECT ROWNUM R, B.* FROM
					(
						SELECT * FROM BANKBOOK
						<include refid="searchCondition"></include>
						
						
						ORDER BY BOOKNUMBER DESC
					) B
			)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  
  	<select id="getBankBookDetail" parameterType="BankBookDTO" resultType="BankBookDTO">
  		SELECT * FROM BANKBOOK WHERE BOOKNUMBER=#{bookNumber}
  	</select>
  	
  	<insert id="setBankBookAdd" parameterType="BankBookDTO">
  		<selectKey keyProperty="bookNumber" resultType="Long" order="BEFORE">
  			SELECT BANKBOOK_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO BANKBOOK(BOOKNUMBER, BOOKNAME, BOOKRATE, BOOKSALE, BOOKDETAIL)
  		VALUES (#{bookNumber}, #{bookName}, #{bookRate}, #{bookSale}, #{bookDetail})
  	</insert>
  	
  	<delete id="setBankBookDelete" parameterType="BankBookDTO">
  		DELETE BANKBOOK WHERE BOOKNUMBER=#{bookNumber}
  	</delete>
  	
  	<update id="setBankBookUpdate" parameterType="BankBookDTO">
  		UPDATE BANKBOOK SET BOOKNAME=#{bookName}, BOOKRATE=#{bookRate}, BOOKDETAIL=#{bookDetail}, BOOKSALE=#{bookSale}
  		WHERE BOOKNUMBER=#{bookNumber}
  	</update>
  	
  	<insert id="setBankBookImgAdd" parameterType="BankBookImgDTO">
  		INSERT INTO BANKBOOKIMG
  		VALUES (BANKBOOK_SEQ.NEXTVAL, #{bookNumber}, #{fileName}, #{oriName})
  	</insert>
  
  </mapper>